<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <title>Music</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header>
        <div class="container">
            <img class="margin-top-15" src="img/spotify-logo.png" alt="Logo Spotify">
        </div>
    </header>

    <div id="app">

        
        <main class="padding-50">

            <div>
                <select class="padding-10" @change="filterGenre" v-model="selected">
                    <option value="All">All</option>
                    <option v-for="gen in types" :value="gen">{{gen}}</option>
                </select>
            </div>
            
            <div class="container">
                <div class="list">

                    <div v-for="music in array" class="card padding-30">
                        <div class="layover">
                            <i class="far fa-play-circle"></i>
                        </div>
                        <div class="cover">
                            <img :src="music.poster" alt="Cover">
                        </div>
                        <div class="info margin-top-50">
                            <h3>{{music.title}}</h3>
                            <span class="margin-top-20">{{music.author}}</span>
                            <span class="margin-top-30">{{music.genre}}</span>
                            <span class="margin-top-5">{{music.year}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

    <script src="js/script.js"></script>
</body>
</html>