// COLORS 
$colorBlack: black;
$colorDarkGray: rgb(53, 53, 53);
$colorWhite: white;
$colorLightGray: rgb(170, 170, 170);
$colorBlackTrasparent: rgba(0, 0, 0, 0.5);

// HEIGHT & WIDTH
$heightHeader: 80px;
$heightMax: 100%;

$widthMax: 100%;

//Display 
$dNone: none;
$dBlock: block;
